
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<address>
    7 Kofo Abayomi St<br />
    Victoria Island 106104, Lagos<br />
    <abbr title="Phone">P:</abbr>
    01 279 0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ogisp@dpr.gov.ng">Support@dpr.com</a><br />
   
</address>